<main class="m-3">

    <header>
        {{> shopheader}}
    </header>

    <body>
        <div>
            <div class="mt-5">
                {{#with newsBlock}}
                <h2 class="text-center"> {{title}} </h2>
                <div class="row">
                    {{#each cards}}
                    {{> shoppost}}
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </div>
        <hr class="m-5">
        <div>
            {{#with goodsBlock}}

            <div class="nav nav-tabs">
                {{#each tabs}}
                {{> shoptabnav}}
                {{/each}}
            </div>
            <div class="row">
                {{#each cards}}
                {{> shopcard}}
                {{/each}}
            </div>
            {{/with}}
        </div>
        <hr class="m-5">
        <div>
            {{> shopregister}}
        </div>
        <hr class="my-5" <div>
        {{> shopaction}}
        </div>
    </body>

    <footer>
        {{> shopfooter}}
    </footer>

</main>