/* :root {
  background: rgb(255, 255, 255);
} */


/* html {
  max-width: 780px;
  background: blue;
} */

/* *{
  color:red
} */

/* h1 {
  color: green;
} */

/* h2 { 
  color: aquamarine;
} */

/* h3 {
  color: blue;
} */

/* p, .box {
  background: greenyellow;
} */

/* div h1 {
  color: brown;
} */

/* span > p {
  color: rgb(114, 150, 250);
} */

/* .card-dark {
  background: #d1cbcb;
} */

/* #test:target {
  color: red;
} */

/* .link:link {
  color: red;
} */

/* .link:hover {
  color: green;
} */

/* .card:hover {
  background-color: rgb(22, 231, 75);
} */

/* .link:active {
  color: purple;
} */

/* input {
  background-color: bisque;
} */

/* input:focus {
  background-color: rgb(236, 15, 218);
} */

/* button {
  background-color: greenyellow;
} */

/* button:enabled {
  background-color: green;
} */

/* button:disabled {
  background-color: aqua;
} */

/* .inp:read-write {
  background-color: blue;
} */

/* input:checked ~ span {
  background: red;
} */

/* .valid:valid {
  background: yellow;
} */

/* .valid:invalid {
  background: rgb(22, 194, 180);
} */

/* .valid:optional {
  background: green;
} */

/* .number:out-of-range {
  background: red;
} */

/* .number:in-range {
  background: green;
} */

/* input:placeholder-shown ~ span {
  color:blueviolet;
} */

/* .input-dark {
  background: #918e8e;
} */

/* .input-dark[required] {
  background: #dd0a0a;
} */

/* .input-dark[type="number"] {
  background: green;
} */

/* .small-img[alt~="small"] {
  height: 500px;
} */

/* a[rel~="external"] {
  color: green;
} */

/* button[class|="btn"] {
  background: rgb(231, 222, 222);
} */

/* a[class*="btn"] {
  background: red;
} */

/* .btn::first-letter {
  color: red;
} */

/* .big-text::first-line {
  color: red;
} */

/* .input-dark::placeholder {
  color: green;
  background: rgb(214, 214, 223);
} */

/* .big-text::before,
.big-text::after {
  content: "$$$";
  color: black;
  background: red;
  
} */