<div class=" row card">
    <div class="mt-3">
        {{#with navigation}}
        <div class="nav">
            <h1 class="col-10 mb-4"> {{Logo}} </h1>
            {{#each links}}
            <a href="{{href}}" class="btn btn-link px-2 "> {{text}} </a>
            {{/each}}
            <a href="#" class="btn btn-link disabled">Disabled</a>
        </div>
        {{/with}}
    </div>
</div>