<div class="col-3">
    <div class="card">
        <div class="card-header text-bg-dark">
            <h3>{{title}}</h3>
            {{#if isNew}}<span class="badge rounded-pill text-bg-success">New</span>{{/if}}
            {{#if isTop}}<span class="badge rounded-pill text-bg-danger">Top</span>{{/if}}
        </div>
        <div class="card-text text-bg-dark">
            <h4>{{description}}</h4>
        </div>

    </div>
</div>