<hr class="my-4">
<div class="row">
    {{#each footer}}
    <div class="nav col-2">
        <div>
            {{#each this}}
            <div>
                <a href={{this.link}} class="nav-link {{#if @last}} disabled {{/if}} "> {{this.text}} </a>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>