<div class="col-3">
    <div class="card">
        <div class="card-header text-bg-dark">
            <h3>{{title}}</h3>
            {{#if isNew}}<button type="button" class="btn btn-success btn-sm rounded-pill">New</button>{{/if}}
            {{#if isTop}}<button type="button" class="btn btn-danger btn-sm rounded-pill">Top</button>{{/if}}
        </div>
        <div class="card-text text-bg-dark">
            <h4>{{description}}</h4>
        </div>

    </div>
</div>