<div class=" row card">
    <div class="mt-3">
        {{#with navigation}}
        <div class="nav">
            <h2 class="col-9 mb-4"> {{Logo}} </h2>
            {{#each links}}
            <a href="{{href}}" class="btn btn-link ms-3"> {{text}} </a>
            {{/each}}
            <a href="#" class="btn btn-link disabled">Disabled</a>
        </div>
        {{/with}}
    </div>
</div>